<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>Enregistrer un post</title>
</head>

<body>

	<div class="container">

		<h3>Espace de gestion du blog</h3>
		<hr>

		<p class="h4 mb-4">Enrégistrer un post</p>

		<form action="#" th:action="@{/posts/save}" th:object="${post}"
			method="POST">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" /> 
			<input type="text" th:field="*{title}" class="form-control mb-4 col-4" placeholder="Titre"/> 
			<textarea th:field="*{body}" class="form-control mb-4 col-4" rows="10" placeholder="Contenu" ></textarea>

			<button type="submit" class="btn btn-info col-2">Enrégister</button>

		</form>
		
		<hr>
		<a th:href="@{/posts/list}">Retour à la liste</a>

	</div>
</body>

</html>










